{{ define "main" }}
<h1>Photos</h1>
<article>{{ .Content}}</article>
<div id="camera-roll">
    {{ range .Pages }}
        <div class="photo-post">
            <a href="{{ .RelPermalink }}">
                <img src="{{.Params.coverImage}}" alt="{{.Params.coverImageAltText}}"></a>
            </a>
            {{ $images := findRE `!\[.*?\]\(.*?\)` .RawContent }}
            {{ if gt (len $images) 1 }}
            <div class="photo-count">
                {{ len $images }}
            </div>
            {{ end }}
        </div>
    {{ end }}
{{ end }}