<hr>
<footer>
    <p>
        &#8593;&nbsp;
        <a href="#title">Back to top</a>
    </p>
    <p>
        &#9678;&nbsp;
        <a href="{{ .Site.BaseURL }}index.xml">RSS</a>
    </p>
    <div class="human-badge">
        <p>
            <img
                src="/images/Written By Human/SVG/Written-By-Human-Not-By-AI-Badge-white.svg"
                alt="Written by a Human" />
        </p>
    </div>
    <script src="/pagefind/pagefind-ui.js" type="text/javascript"></script>
    <div id="search"></div>
    <script>
    window.addEventListener('DOMContentLoaded', (event) => {
        new PagefindUI({ element: "#search" });
    });
    </script>
</footer>
