<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />

{{ $css := resources.Get "css/piccalilli-reset.css" | minify }}
<style>{{ $css.Content | safeCSS }}</style>
{{ $css := resources.Get "css/coyier-css-starter.css" | minify }}
<style>{{ $css.Content | safeCSS }}</style>
{{ $css := resources.Get "css/typography-scale-minor-third.css" | minify }}
<style>{{ $css.Content | safeCSS }}</style>
<style>
    :root {
    /* https://jameshfisher.com/2024/03/12/a-formula-for-responsive-font-size/ */
    font-size: calc(1rem + 0.25vw);
    line-height: 1.5;
}
html {
    text-rendering: optimizelegibility;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}
body {
    max-width: 38rem;
    margin: auto;
}
body > header {
    margin-bottom: 1rem;
}
h1,h2,h3,h4,h5,p {
    margin: 1lh 0;
}
#title {
    font-size: 250%;
    font-weight: bolder;
}
#tagline {
    font-size: 90%;
    margin: 1rem 0;
    font-style: italic;
}
#site-nav ul {
	list-style: none;
	display: flex;
	gap: 1rem;
}
.card {
    margin: 1rem 0;
    padding: 1rem;
    border: solid 0.1rem;
    border-radius: 0.2rem;
}
</style>

<title>
    {{- block "title" . }}
        {{ with .Title }}{{ . }} | {{ end }}{{ .Site.Title }}
    {{- end }}
</title>
<meta name="description" content="{{ .Page.Summary }}" />
<link rel="canonical" href="{{ .Permalink }}" />
<link
    rel="icon"
    href="data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 100'><text y='.9em' font-size='90'>📝</text></svg>" />

{{ partial "schema.html" . }}
{{ partial "opengraph.html" . }}

{{ if .Params.photos }}
    {{ with index .Params.photos 0 }}
        <meta property="og:image" content="{{ .src }}" />
        <meta name="twitter:card" content="summary_large_image" />
        <meta name="twitter:image:src" content="{{ .src }}" />
    {{ end }}
{{ end }}

{{ with .OutputFormats.Get "rss" -}}
    {{ printf `<link rel=%q type=%q href=%q title=%q>` .Rel .MediaType.Type .Permalink site.Title | safeHTML }}
{{ end }}

{{ $script := resources.Get "js/tagline.js" }}
<script
    src="{{ $script.RelPermalink }}"
    integrity="{{ $script.Data.Integrity }}"
    crossorigin="anonymous"></script>
