{{ define "main" }}
<h1>{{.Params.name}}</h1>
{{if .Params.description}}<blockquote>{{.Params.description}}</blockquote>{{end}}
<ul>
    {{if .Params.servings}}<li>{{.Params.servings}}</li>{{end}}
    {{if .Params.prep_time}}<li>Prep Time: {{.Params.prep_time}}</li>{{end}}
    {{if .Params.cook_time}}<li>Cook Time: {{.Params.cook_time}}</li>{{end}}
    {{if .Params.total_time}}<li>Total Time: {{.Params.total_time}}</li>{{end}}
</ul>
{{if .Params.ingredients}}
    <h2>Ingredients</h2>
    {{range .Params.ingredients}}
        <p><input type="checkbox"><label>{{.}}</label></p>
    {{end}}
{{end}}
{{if .Params.directions}}
    <h2>Directions</h2>
    {{range .Params.directions}}
        <p><input type="checkbox"><label>{{.}}</label></p>
    {{end}}
{{end}}
<p><a href={{.Params.source_url}} target=”_blank” rel="noopener noreferrer">Source</a></p>
<p>Date Added: {{.Params.date_added}}</p>
{{ end }}