{{ define "main" }}
<h1>{{.Params.name}}</h1>
<blockquote>{{.Params.description}}</blockquote>
<ul>
    <li>{{.Params.servings}}</li>
    <li>Prep Time: {{.Params.prep_time}}</li>
    <li>Cook Time: {{.Params.cook_time}}</li>
    <li>Total Time: {{.Params.total_time}}</li>
</ul>
<h2>Ingredients</h2>
{{range .Params.ingredients}}
    <p><input type="checkbox"><label>{{.}}</label></p>
{{end}}
<h2>Directions</h2>
{{range .Params.directions}}
    <p><input type="checkbox"><label>{{.}}</label></p>
{{end}}
<p><a href={{.Params.source_url}} target=”_blank” rel="noopener noreferrer">Source</a></p>
<p>Date Added: {{.Params.date_added}}</p>
{{ end }}