:root {
  /* https://jameshfisher.com/2024/03/12/a-formula-for-responsive-font-size/ */
  font-size: calc(1rem + 0.25vw);
}
html {
  text-rendering: optimizelegibility;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}
body {
  max-width: 38rem;
  margin: auto;
}
body > header, .pagefind-ui__search-input {
  margin-bottom: 1rem;
  margin-bottom: 1lh;
}
h1,
h2,
h3,
h4,
h5,
p {
  margin: 1rem 0;
  margin: 1lh 0;
}
img {
  max-height: 90vh;
  margin: auto;
}
mark {
  display: inline-block;
  margin-top: 1em;
  margin-top: 1lh;
}
#title {
  font-size: 250%;
  font-weight: bolder;
}
#tagline {
  font-size: 90%;
  font-style: italic;
}
#site-nav ul {
  list-style: none;
  display: flex;
  gap: 1rem;
}
.card {
  margin: 1rem 0;
  margin: 1lh 0;
  padding: 0 1rem;
  border: solid 0.1rem;
  border-radius: 0.2rem;
}
.card img {
  display: block;
  max-height: 66vh;
  margin: auto;
}