:root {
    /* https://jameshfisher.com/2024/03/12/a-formula-for-responsive-font-size/ */
    font-size: calc(1rem + 0.25vw);
    line-height: 1.5;
    color-scheme: light dark;
}

* {
    box-sizing: border-box;
}

html {
    text-rendering: optimizelegibility;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    margin: 1rem 2rem 4rem 2rem;
}

body {
    font-family:
        system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu,
        Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    max-width: 34rem;
    margin: auto;
}

img {
    max-width: 100%;
    height: auto;
}

li {
    margin-bottom: 0.5rem;
}

header li,
footer li {
    display: inline;
}

header ul,
footer ul {
    padding: 0;
}

em {
    font-weight: 500;
}

ul li ul {
    margin-top: 0.5rem;
}

article h1 {
    font-size: 200%;
    margin-bottom: 0.5rem;
}

article header {
    margin-bottom: 2rem;
}

#post-data {
    font-style: italic;
}

article > p {
    line-height: 1.618;
    /* https://webkit.org/blog/16831/line-height-units/ */
    margin-block: 1rem;
    margin-block: 1lh;
}

.title {
    font-size: 250%;
    font-weight: bolder;
    text-decoration: none;
}

#site-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
    flex-wrap: wrap;
}

#tagline {
    font-size: 90%;
    margin: 0;
    padding-left: 0.5rem;
    font-style: italic;
}

.card {
    margin-bottom: 1rem;
    padding: 1rem;
}

.card img {
    display: block;
    max-width: 50vh;
    margin: auto;
}

.bordered {
    border: solid 0.1rem;
    border-radius: 1%;
}

.blog-list-item {
    display: flex;
    gap: 1rem;
}

pre code {
    white-space: pre-wrap;
}

figcaption,
pre {
    font-size: 75%;
    font-family: monospace;
}

blockquote p {
    font-style: italic;
}

pre {
    background-color: darkslateblue;
    padding: 1rem;
    border-radius: 5px;
}

/* Photo section styles */
#camera-roll {
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-gap: 0.5em;
    justify-items: center;
    padding-bottom: 1em;
}

.photo-post img {
    height: 100%;
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
}

/* Locking Safari dark mode into link color from Firefox dark mode to fix bad link colors */
/* https://wojtek.im/journal/targeting-safari-with-css-media-query */
@supports (hanging-punctuation: first) and (font: -apple-system-body) and
    (-webkit-appearance: none) and (prefers-color-scheme: dark) {
    a {
        color: #8c8cff;
    }
}
