:root {    
    /* https://jameshfisher.com/2024/03/12/a-formula-for-responsive-font-size/ */
    font-size: calc(1rem + 0.1vw);
    line-height: 1.4;
    color-scheme: light dark;
}
* {box-sizing: border-box;}
html {
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    margin:1em 2em 4em 2em;
}
body {
    font-family: system-ui, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;;
    max-width: 36em;
    margin: auto;
}
img {
    max-width: 100%;
    height:auto;
}
nav li {
    display:inline;
}
nav ul {
    padding:0;
}
.title {
    font-size:xx-large;
    font-weight: bolder;
    text-decoration: none;
}
.post-date {
    display:inline-block;
    width:6em;
}