<style>
    :root {
        /* Color Variables */
        --background-color:whitesmoke;
        --text-color: black;
        --gradient-color: rgb(209, 208, 208);
        --dark-gradient-color: snow;
        --link-underline-color:#99942b;
        --decoration-color: #2B3099;
        --dark-mode-background-color:#4C4E52;
        --dark-mode-content-color: #F1EDF2;
        /* Typography Variables */
        --header-font-family:'Public Sans',system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", 'Helvetica Neue', Helvetica, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
        --body-font-family: 'PT Serif', serif;
        --h1-font-size: 2.488rem;
        --h2-font-size: 2.074rem;
        --h3-font-size: 1.728rem;
        --h4-font-size: 1.44rem;
        --h5-font-size: 1.2rem;
    }
    body {
        max-width:33em;
        font-family: var(--body-font-family);  
        font-weight: 400;
        line-height: 1.65;
    }
    header {
        padding-bottom:1em;
    }

    /* Custom Typography */
    h1, h2, h3, h4, h5, .post-data {
        font-family: var(--header-font-family);
        margin: 1.75rem 0 1.05rem;
        line-height: 1.15;
    }
    p,li {
	/*https://www.smashingmagazine.com/2020/07/css-techniques-legibility/*/
	line-height: calc(1ex / 0.32);
    }
    a {
        color: inherit;
        text-decoration: underline;
        text-decoration-skip-ink: auto;
        text-decoration-color: var(--link-underline-color);
        text-decoration-style: solid;
    }
    a:hover, button:hover {
        background-color: var(--decoration-color);
        color:white;
        text-decoration-color: var(--decoration-color);
    }
    ul {list-style-type: '\2013'; margin-bottom:0}
    li {padding-bottom:.5em;}
    li span {position:relative;right:-0.5em;}

    /*https://type-scale.com/ Minor Third*/

    html {font-size: 112.5%;} /*18px*/

    body {
        font-family: var(--body-font-family);  
        font-weight: 400;
        line-height: 1.65;
    }

    h1, h2, h3, h4, h5, .post-data {
        font-family: var(--header-font-family);
        margin: 1.75rem 0 1.05rem;
        line-height: 1.15;
    }

    h1 {
        margin-top: 0;
        font-size: var(--h1-font-size)
    }

    h2 {font-size: var(--h2-font-size)}

    h3 {font-size: var(--h3-font-size)}

    h4 {font-size: var(--h4-font-size)}

    h5 {font-size: var(--h5-font-size)}

    small, .text_small {font-size: 0.75em;}

</style>