{{ define "main" }}
{{ .Content }}
{{ $content := where .Site.RegularPages "Type" "in" "blog,photos,notes" }}
{{ $paginator := .Paginate $content.ByDate.Reverse 7 }}
{{ range $paginator.Pages }}
<div class="card">
    {{if in .Section "blog"}}
        <header>
            <h2><a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a></h2>
            <p>{{ .Params.subtitle }}</p>
            {{- partial "post-data.html" . -}}
        </header>
        {{.Summary}}
      <p><a href="{{ .RelPermalink }}">&#8627;</a></p>
    {{ else if in .Section "photos"}}
        <a href="{{ .RelPermalink }}">
        {{range .Params.photos}}
            <img src="{{.src}}" alt="{{.alt}}" title="{{.caption}}"></a>
        {{ end }}
        {{.Content}}
        </a>
        <p>// <a href="{{ .RelPermalink }}">{{ .Title}}</a></p>
    {{else}}
        {{.Content}}
        <p>// <a href="{{ .RelPermalink }}">{{ .Date.Format "2006-01-02" }}</a></p>
    {{end}}
  </div>
{{end}}
{{ partial "pagination-links" (dict "myPaginator" $paginator) }}
{{end}}