{{partial "head.html" .}}
<body>
	<main class="container flex three-columns">
		<div id="col-1">
			{{partial "header.html" .}}
			<div class="content" id="firstContent">
				<p>Hey! I'm Ethan and I'm a writer who sometimes makes cool stuff. I love tinkering with tech, playing drums, and walking in the woods.</p>
				<p>I'm currently a technical writer and data analyst at <a href="https://www.quanterix.com/" rel="noopener" target="_blank">Quanterix</a>, where I use cool tools and automation to write better documentation, faster. Before that I worked in marketing for education at <a target="_blank" rel="noopener" href="https://www.carnegiedartlet.com/">Carnegie&nbsp;Dartlet</a> and <a target="_blank" rel="noopener" href="https://www.curriculumassociates.com/">Curriculum&nbsp;Associates</a>.</p>
				<p>I'm a creative problem-solver - I'm passionate about helping people do their best work through information architecture, down-to-earth processes, and candid communication.</p>
			</div>
			<div class="filler" id="firstFiller"></div>
		</div>
		<div id="col-2">
			<div class="filler" id="midFiller"></div>
			<div class="content">
				{{partial "post-list.html" .}}
			</div>
			<div class="content" id="midContent">
				<p>I'm very lucky to get to work on awesome projects when I can. Here are some favorites:</p>
				<ul>
					<li><span><a target="_blank" rel="noopener" href="https://rocknroll.itch.io/rocknrollrpg" target="_blank" rel="noopener">ROCK & ROLL</a> - A musical TTRPG about making the band of your dreams with your friends and experiencing all the highs and lows of life on-stage and off. Kickstarted as part of <a target="_blank" rel="noopener" href="https://www.kickstarter.com/projects/wickedlyethan/rock-and-roll-a-musical-rpg-zine">Zine Quest 2019</a>.</span></li>
					<li><span><a target="_blank" rel="noopener" href="https://wickedly.itch.io/embers-falling">Embers Falling</a> - A small TTRPG about power and duty for a stranded mech crew made for Emotional Mecha Jam.</span></li>
					<li><span><a target="_blank" rel="noopener" href="https://wickedly.itch.io/jethack" target="_blank" rel="noopener">JetHack</a> - First-person jetpacking to destroy mega-corporate advertisements made for Global Game Jam 2018</span></li>
					<li><span><a target="_blank" rel="noopener" href="https://wickedly.itch.io/atleta" target="_blank" rel="noopener">Atleta</a> - A hand-drawn sailing interactive fiction adventure made for Global Game Jam 2016 that someday will get a sequel</span></li>
				</ul>
			</div>
			<div class="filler" id="midFiller2"></div>
		</div>
		<div id="col-3">
			<div class="filler" id="endFiller"></div>
			<div class="flex">
				<div>
					<h3 class="tinyHeader">Some of My Favorite&nbsp;Humans:</h3>
					<ul>
						<li><span><a target="_blank" rel="noopener" href="https://emilymullerart.com">Emily Muller</a></span></li>
						<li><span><a target="_blank" rel="noopener" href="https://nathanwentworth.co">nathan wentworth</a></span></li>
						<li><span><a target="_blank" rel="noopener" href="https://chrismaher.xyz/">Chris Maher</a></span></li>
					</ul>
				</div>
				<div>
					<h3 class="tinyHeader">Where to find me:</h3>
					<ul>
						<li><span><a target="_blank" rel="noopener" href="https://linkedin.com/in/ethanthi">LinkedIn</a></span></li>
						<li><span><a target="_blank" rel="noopener" href="https://wickedly.itch.io">Itch.io</a></span></li>
						<li><span><a target="_blank" rel="noopener" href="https://wickedlyethan.bandcamp.com/album/shallow-circuits-a-cyberpunk-soundtrack">Bandcamp</a></span></li>
						<li><span><a target="_blank" rel="noopener" href="https://medium.com/@WickedlyEthan">Medium</a></span></li>
						<li><span><a target="_blank" rel="noopener" href="https://letterboxd.com/wickedlyethan/">Letterboxd</a></span></li>
						<li><span><a target="_blank" rel="noopener" href="https://github.com/wickedlyethan">GitHub</a></span></li>
					</ul>
				</div>
			</div>
		</div>
	</main>
{{partial "gfonts.html" .}}
</body>
</html>