{{ define "main" }}
<article>
<header>
    <h1>{{ .Title }}</h1>
    {{if in .Section "blog"}}
        {{if .Params.subtitle}}<p id="subtitle">{{.Params.subtitle}}</p>{{end}}
        {{- partial "post-data.html" . -}}
    {{ end }}
</header>

{{if in .Section "blog"}}
    {{ with .TableOfContents }}
        {{ if ne . "<nav id=\"TableOfContents\"></nav>" }}
        <details id="post-toc" open>
            <summary>Table of Contents</summary>
            {{ . }}
        </details>
        {{ end }}
    {{ end }}
{{ end }}

{{ if .Params.Photos }}
<div class="photos">
    {{ range .Params.Photos }}
        <img src="{{.src}}" alt="{{.alt}}" title="{{.caption}}"></a>
    {{ end }}
    </div>
{{ end }}

{{ .Content }}

</article>

{{ end }}
