body {
    max-width: 768px;
}
#camera-roll {
    display: grid;
    grid-template-columns: repeat(3,auto);
    grid-gap: 2.5%;
    justify-items: center;
    align-items: start;
    padding-bottom: 1em;
}
.photo-post {
}
.photo-post img {
    height: 100%;
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
}