:root {    
    /* https://jameshfisher.com/2024/03/12/a-formula-for-responsive-font-size/ */
    font-size: calc(1rem + 0.25vw);
    line-height: 1.4;
    color-scheme: light dark;
}
* {box-sizing: border-box;}
html {
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    margin:1em 1.5em 4em 1.5em;
}
body {
    font-family: system-ui, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    max-width: 34em;
    margin: auto;
}
img {
    max-width: 100%;
    height:auto;
}
header li, footer li {
    display:inline;
}
header ul, footer ul {
    padding:0;
}
.title {
    font-size:xxx-large;
    font-weight: bolder;
    text-decoration: none;
}
.card {
    margin-bottom: 1em;
    padding: 1em;
}
.bordered {
    border: solid 0.1em;
    border-radius: 1%;
}
.blog-list-item {
    display: flex;
    gap: 1em;
}
/* https://robinrendle.com/notes/the-smallest-css/ */
pre code {
    white-space: pre-wrap;
}
figcaption {
    font-size: 75%;
    font-family:monospace;
}
blockquote p{
    font-style:italic;
}
pre {
    background-color:darkslateblue;
    padding:1em;
    font-size:80%;
    border-radius:5px;
}
/* Locking Safari dark mode into link color from Firefox dark mode to fix bad link colors */
@media (prefers-color-scheme: dark) and screen (-webkit-min-device-pixel-ratio:0){
    a {
        color:#8c8cff;
    }
}