<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0" />

{{ $css := resources.Get "css/style2.css" }}
{{ $style := $css | resources.Minify }}
<link rel="stylesheet" type="text/css" href="{{ $style.Permalink }}" />

<!-- <title>{{- block "title" . }}{{ with .Title }}{{ . }} | {{ end }}{{ .Site.Title }}{{- end }}</title> -->
<title>{{.Title}}</title>

{{ template "_internal/opengraph.html" . }}

{{ with .OutputFormats.Get "rss" -}}
  {{ printf `<link rel=%q type=%q href=%q title=%q>` .Rel .MediaType.Type .Permalink site.Title | safeHTML }}
{{ end }}
