{{ $latest := where .Site.RegularPages "Type" "in" "blog, photos,notes"}}
{{ range first 7 $latest }}
<div class="card bordered">
  {{if in .Section "blog"}}
    {{ partial "card-blog.html" .}}
  {{ else if in .Section "photos"}}
    <a href="{{ .RelPermalink }}">
    {{with .Params.photos}}
      {{ range first 1 .}}
        <img src="{{.src}}" alt="{{.alt}}" title="{{.caption}}"></a>
      {{ end }}
    {{ end }}
    </a>
    <p>// <a href="{{ .RelPermalink }}">{{ .Title}}</a></p>
  {{else}}
    {{ partial "card-note.html" .}}
  {{end}}
</div>
{{ end }}