<div class="sidebar">
    <a href="{{ "" | relURL }}" class="title">WCKD</a>
    <nav class="first-nav">
        <ul>
        {{range site.Menus.main}}
        <li><a href="{{ .URL }}">{{ .Name }}</a></li>
        {{- end }}
        </ul>
    </nav>
    <nav class="second-nav">
        <ul>
        {{range site.Menus.second}}
        <li><a href="{{ .URL }}">{{ .Name }}</a></li>
        {{- end }}
        </ul>
    </nav>
    <div class="sidebar-bottom">
        <img src="/images/BaBajaTrails8723construct.gif" alt="retro under construction gif">
    {{- partial "human-badge.html" . -}}
    </div>
</div>