:root {    
    /* https://jameshfisher.com/2024/03/12/a-formula-for-responsive-font-size/ */
    font-size: calc(1rem + 0.1vw);
    line-height: 1.4;
    
    /* Default fonts */
    --system-font: system-ui, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    
    color-scheme: light dark;
}
* {box-sizing: border-box;}
html {
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}
body {
    padding:0;
    margin:0;
    font-family: var(--system-font);
    margin:2em;
}
img {
    max-width: 100%;
    height:auto;
}
main {
    max-width: 36em;
    margin: auto;
}
.title {
    font-size:xx-large;
    font-weight: bolder;
    text-decoration: none;
}